test-flow.json
[{"id":"5e3b9fad.4442d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"35bb76ba.32e74a","type":"inject","z":"5e3b9fad.4442d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":200,"wires":[["2811f4b0.afbaec"]]},{"id":"9df7948e.18e278","type":"debug","z":"5e3b9fad.4442d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":200,"wires":[]},{"id":"2811f4b0.afbaec","type":"function","z":"5e3b9fad.4442d","name":"","func":"msg.payload = \"Test commit for github\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["9df7948e.18e278"]]}]